html, body {
    height: 100%;
}
.container  {
    margin: auto;
}
/* attached to ngClass "background" and shows on about pages only */
.painting {
    background:url('../example_img/Project2.png');
    width: 100vw;
}


/* ///////////////////////////////// */
/* page header and footer */
header.page-header {
    border: none;
    padding-bottom: 0;
}
    /* big screen */
    @media screen and (min-width: 601px) {
        #KSP {
            font-family: 'Julius Sans One', sans-serif;
            font-weight: bold;
            font-size: 4.5em;
        }
        footer {
            font-family: 'Quicksand', sans-serif;
            text-align: center;
            position: fixed;
            right: 2em;
            left: 2em;
            margin: 1em 4em;
            bottom: 0;
        }
        footer.dash {
            position: static;
        }
    }
    /* small screen */
    @media screen and (max-width: 600px) {
        #KSP {
            font-family: 'Julius Sans One', sans-serif;
            font-weight: bold;
            /* font-size: 2em; */
        }
        footer.footer_all, footer.dash {
            font-size: .9em;
            text-align: center;
            position: static;
            margin: 1em;
        }
    }

/* navbar */
    #ksp {
        font-family: 'Julius Sans One', sans-serif;
        font-weight: bold;
        color: #333333;
        font-size: 1.5em;

    }
    #myBrand {
        border: 1px solid #d2d1d2;
        border-radius: 3px;
        padding: 3px;
        background: #d2d1d2;
    }

/* ///////////////////////////////// */
/* home page main */
    .grid-sizer,
    .masonry-brick {
        width: 33.333%;
    }
    .myBrick {
        max-width: 100%;
        height: auto;
        padding: 5px;
    }
    a:focus {
        /* removes blue outline after image/tag selection */
        outline: none !important;
    }

/* ///////////////////////////////// */
/* MODAL */
    .modal-dialog {
        width: fit-content;
    }
        .pagination {
            margin: 0;
        }
        .warn-modal .img-responsive {
            max-height: 60vh;
        }
        #headsUp {
            max-width: 50vw;
        }
    /* small screen */
        @media screen and (max-width:600px) {
            .sm-modal-hide {
                display: none;
            }
            .modal-dialog h2, h3 {
                font-size: 1.5em;
            }
            .modal-dialog h4 {
                font-size: 1em;
            }
            .modal-header {
                padding: 5px 15px;
            }
            .img-responsive {
                max-height: 80vh;
                max-width: 85vw;
            }
            #headsUp {
                max-width: 95vw;
            }
        }
    /* big screen */
        @media screen and (min-width:601px) {
            .img-responsive {
                max-height: 75vh;
            }
            img.img-responsive.horizontal {
                max-height: 60vh;
            }

        }

/* ///////////////////////////////// */
/* update - add new */
    .thumbnail {
        text-align: center;
        width: fit-content;
    }
    .thumbnail div {
        margin-top: 100px;
        vertical-align: middle;
        color: #a7a3a3;
        font-weight: lighter;
        font-size: 2em;
    }
    .preview {
        border: 1px solid #dddddd;
        border-radius: 4px;
        padding: 4px;
        margin-bottom: 10px;
    }
    .preview.vertical {
        width: 60%;
    }
    .preview.horizontal {
        width: 90%;
    }
    .showTags {
        vertical-align: middle;
        padding-top: 5px;
    }
    section#prv .thumbnail {
        width:500px;
        height:400px;
    }

    /* small screen */
    @media screen and (max-width:600px) {
        div.radio {
            display: inline-block;
            padding: 0 .5em;
            margin: 0;
        }
        section#prv .thumbnail {
            max-width: 80vw;
        }
        section#prv i {
            font-size: 1em;
        }
    }

/* ///////////////////////////////// */
/* tags in add new and edit existing sections */
    #showTags {
        display: inline-flex;
        flex-wrap: wrap;
    }
    #showTags .btn.btn-default {
        margin-right: 5px;
        margin-bottom: 5px;
    }
    #showTags .btn.btn-default:hover {
        text-decoration: line-through;
    }

/* ///////////////////////////////// */
/* existing photos page (one with table) */
/* table */
    table {
        display: table;
        width: 100%;
    }
        thead {
            background-color: #f8f8f8;
        }
        th {
            text-align: center;
        }
        .table-bordered {
            border-top: 2px solid #ddd;
            border-bottom: 2px solid #ddd;
        }
        table a {
            cursor: pointer;
        }

    /* make table scrollable */
        table thead, table tbody {
            width: 100%;
        }
        table thead {
            overflow-y: scroll;
            display: table;
            table-layout: fixed;
        }
        table tbody {
            overflow: auto;
            max-height: 600px;
            display: block;
        }
        table tr {
            width: 100%;
            text-align: left;
            display: table;
            table-layout: fixed;
        }
    /* hide description and tags on small screen */
    @media screen and (max-width:600px) {
        th.col-md-4.x-data {
            display: none;
        }
        td.col-md-4.ng-binding {
            display: none;
        }
        tr.ng-scope td.col-md-4 {
            display: none;
        }
    }

/* ///////////////////////////////// */
/* about pages */
    section.about {
        font-family: 'Quicksand', sans-serif;
    }
    /* big screen */
    @media screen and (min-width: 601px) {
        section#AboutMe {
            display: inline-flex;
        }
        .about div {
            margin-bottom: 1.5em;
            /* padding-bottom: .5em; */
        }
        .about .indent:last-child {
            padding-bottom: .5em;
        }
        .about h1 {
            font-size: 3em;
        }
        .about h2 {
            padding-left: .5em;
        }
        .about h3 {
            font-size: 1.5em;
        }
        .about p {
            font-size: 1.25em;
        }
        .indent {
            padding-left: 2em;
            padding-right: 2em;
        }
        div.trbox {
            padding-left: 1em;
            padding-right: .5em;
            color: #000000;
            background: rgba(255, 255, 255, 0.85);
        }
        #AboutMe div.trbox {
            max-width: 70%;

        }
        div.me {
            width: fit-content;
            margin: .5em;
        }
        .icons img {
            width: 2.75em;
            margin: 0 .5em;
        }
    }
    /* small screen */
    @media screen and (max-width: 600px) {
        section.about {
            display: block;
        }
        .about h1 {
            font-size: 2em;
            text-align: center;
        }
        .about h2 {
            font-size: 2em;
        }
        .about h3 {
            font-size: 1.35em;
        }
        .about p {
            padding-bottom: .5em;
            font-size: 1.1em;
        }
        div.trbox {
            padding-left: 1em;
            padding-right: 1em;
            color: #000000;
            background: rgba(255, 255, 255, 0.85);
            /* width: 60%; */
        }
        div.me div.thumbnail {
            margin: auto;
            margin-bottom: 5px;
        }
        .icons img {
            width: 2.75em;
        }
    }
