<!-- this modal pops up when delete function is initially invoked -->

<div class="dialog">
    <div class="alert alert-success" style="margin:0px;">

    <!-- modal-header / warning message -->
        <div class="modal-header" style="padding:0px 15px; border-bottom:1px solid #a9a7a7;">
            <button type="button" class="close" ng-click="alertViewed()">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2 class="modal-title">ATTENTION: Limited Functionality</h2>
        </div>

    <!-- modal-body / displays photo -->
        <div class="modal-body" style="font-size:1.5em;">
            <p>This is a working example of a user interface for managing this photo gallery. Please feel free to add, edit or delete photos.</p>
            <br>
            <p>Please note that interaction is limited in order to protect the integrity of the site. For a more detailed explanation, please visit the "about" section.</p>
        </div>

    <!-- modal footer / resolution buttons -->
        <div class="modal-footer" style="text-align:center; padding-bottom:0px; border-top:1px solid #a9a7a7;">
            <button class="btn btn-success" ng-click="alertViewed()">Continue</button>
        </div>

    </div>
</div>
