<!-- <div ng-include="'partials/nav_bar.html'"></div> -->
<div ng-init="getPath()"></div>
<div ng-init="index()"></div>

<ul class="nav nav-tabs" style="margin-top:0; margin-bottom:10px;">
    <li class="active" role="presentation"><a href="#!/photography/maintain/add_new">add new photo</a></li>
    <li role="presentation"><a href="#!/photography/maintain/update_db">edit existing photo</a></li>
</ul>


<section class="col-md-4" style="display:inline-block">
<!-- if alerts -->
    <div ng-if="alerts.length > 0">
        <div class="alert alert-{{ alert_class }}">
             <span class="close" aria-hidden="true" ng-click="alerts.length = 0">&times;</span>
            <p ng-repeat="alert in alerts">{{ alert }}</p>
        </div>
    </div>


<!-- add photo to db form -->
    <form>
        <div class="form-group">
            <label class="control-label" for="name">Title:</label>
            <input class="form-control" type="text" name="name" ng-model="newPhoto.name">
        </div>

        <div class="form-group">
            <label class="control-label" for="description">Description (optional):</label>
            <input class="form-control" type="text" name="description" ng-model="newPhoto.description">
        </div>

        <div class="form-group">
            <label class="control-label" for="file_name">File Name:</label>
            <input class="form-control" type="text" name="file_name" ng-model="newPhoto.file_name">
        </div>
    <!-- add multiple tags -->
        <div class="form-group">
            <label class="control-label" for="tags">Tags:</label>
            <div class="input-group">
                <input class="form-control" type="text" name="tags" ng-model="newTag">
                <div class="input-group-btn">
                    <button class="btn btn-info" type="submit" ng-click="pushTag(newTag)" role="button">add</button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="orientation">Orientation:</label>
            <div class="input-group">
                <input type="radio" name="orientation" value="horizontal" ng-model="newPhoto.orientation"> horizontal<br>
                <input type="radio" name="orientation" value="vertical" ng-model="newPhoto.orientation"> vertical
            </div>
        </div>

        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Submit" ng-click="create()">
        </div>
    </form>
</section>




<section class="col-md-offset-1 col-md-7" style="display:inline-block;">
    <div ng-show="newPhoto.orientation == undefined">
        <div class="thumbnail" style="width:500px; height:400px;">
            <div><i>Photo Preview...</i></div>
        </div>
    </div>

    <div ng-show="newPhoto.orientation === 'vertical'">
        <img class="preview vertical" src="../static/img/{{ newPhoto.file_name }}">
    </div>

    <div ng-show="newPhoto.orientation === 'horizontal'">
        <img class="preview horizontal" src="../static/img/{{ newPhoto.file_name }}">
    </div>

    <div id="showTags" ng-show="tempTags.length > 0">
        <label>Tags:&nbsp;</label>
        <div ng-repeat="tag in tempTags">
            <!-- <div class="btn btn-primary">{{ tag }}</div> -->
            <div class="btn btn-default" ng-click="removeTag(tag)">{{ tag }}</div>
        </div>
    </div>
</section>
