<!-- this is the partial for the "about me" page -->

<section class="about">
    <div class="col-md-3" style="margin-top:.5em;">
        <div class="thumbnail">
            <img src="../static/example_img/me.jpg" alt="profile pic" />
        </div>
    </div>

    <div class="trbox col-md-offset-3">
        <h1>My name is Kyle and I make web things</h1>

        <p>I'm a full-stack web developer specializing in the MEAN and Django stacks. I currently live in upstate New York, but spent most of my life in the Pacific Northwest. I love cats, video games, kayaking, and Harry Potter.</p>

        <p>Prior to entering the world of web development I was an assistant auditor at a local health insurance company. I enjoy data analysis, interpretation and interpolation, value precision and efficiency, and thrive in structured environments.</p>

        <p>I believe in compassion, empathy, knowledge and inclusion.</p>
        <!-- <p>I am an atheist, humanist, feminist; I believe in compassion, empathy, knowledge and inclusion.</p> -->
    </div>
</section>
