<!-- this is the partial for the "about the site" page -->

<section class="about" style="margin:1em;">
    <h2>What is KS Photography?</h2>

    <div class="trbox" style="border-top: 1px solid #e7e7e7; padding-top:.25em;">
        <div class="indent">
            <h3><u>General</u></h3>
            <p>This application displays my personal photography in gallery format with a web UI for managing the content. The primary purpose is to demonstrate my abilities as a web developer/software engineer.</p>
        </div>

        <div class="indent">
            <h3><u>Limited Functionality</u></h3>
            <p>As a portfolio example, I believe it is important to present a fully functional application. However, I feel it necessary to employ certain restrictions in order to avoid possible misrepresentation of myself. Therefore, all user-initiated additions, edits and updates have been purposely limited and use front-end storage only. This means that no user changes will permanently impact the content of the application.</p>
        </div>

        <div class="indent">
            <h3><u>Construction</u></h3>
            <p>
                This application utilizes the MEAN stack of web development. It is written in JavaScript using <a href ng-click="newTab('https://angularjs.org/')">AngularJS</a> and <a href ng-click="newTab('https://nodejs.org/en/')">Node.js</a>, employs a <a href ng-click="newTab('https://www.mongodb.com/')">MongoDB</a> database, and is stylized with <a href ng-click="newTab('https://fonts.google.com/')">Google Fonts</a>, <a href ng-click="newTab('https://getbootstrap.com/')">Bootstrap</a> and <a href ng-click="newTab('https://angular-ui.github.io/bootstrap/')">UI Bootstrap</a>, and <a href ng-click="newTab('https://masonry.desandro.com/')">Masonry</a>. All photos are original images taken by and/or owned by Kyle Seem.
            </p>
            <p>The code for this application can be viewed in my <a href ng-click="newTab('https://github.com/KyleSeem/gallery')">GitHub repository</a>. Thank you for visiting!</p>
        </div>
    </div>
</section>
